@model Core.Models.User

@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<form method="post">
    <table>
        <tr>
            <td><label for="Name">Name</label></td>
            <td><input type="text" id="Name" name="Name" /></td>
            <td>@Html.ValidationMessageFor(model => model.Name)</td>
        </tr>
        <tr>
            <td><label for="UserName">User Name</label></td>
            <td><input type="text" id="UserName" name="UserName" /></td>
            <td>@Html.ValidationMessageFor(model => model.UserName)</td>
        </tr>
        <tr>
            <td><label for="Password">Password</label></td>
            <td><input type="password" id="Password" name="Password" /></td>
            <td>@Html.ValidationMessageFor(model => model.Password)</td>
        </tr>
        <tr>
            <td><label for="Email">Email</label></td>
            <td><input type="email" id="Email" name="Email" /></td>
            <td>@Html.ValidationMessageFor(model => model.Email)</td>
        </tr>
        <tr>
            <td><label for="PhoneNumber">Phone Number</label></td>
            <td><input type="text" id="PhoneNumber" name="PhoneNumber" /></td>
            <td>@Html.ValidationMessageFor(model => model.PhoneNumber)</td>
        </tr>
        <tr>
            <td><label for="Location">Location</label></td>
            <td><input type="text" id="Location" name="Location" /></td>
            <td>@Html.ValidationMessageFor(model => model.Location)</td>
        </tr>
    </table>


    <button type="submit">Register</button>
</form>