@model IEnumerable<Core.Models.Order>
@using Core.Models;

@{
    ViewData["Title"] = "Orders Page";
}

<div class="text-center">
    <h1 class="display-4">Orders</h1>
</div>

<h1>Order List</h1>
    <div>
        <a href="/Orders/Insert/">Insert new Order</a>
    </div>
<hr/>
<div>
    <div>
       <a href="/Orders/Details/">Order Details</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Status)</th>
                <th>@Html.DisplayNameFor(model => model.OrderDate)</th>
                <th>@Html.DisplayNameFor(model => model.TotalAmount)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                    <td>@Html.DisplayFor(modelItem => item.OrderDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.TotalAmount)</td>
                </tr>
            }
        </tbody>
    </table>
    <form method="post" action="/ShoppingCart/BuyNow">
        <button type="submit">Buy Now</button>
    </form>
</div>